@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        This is a web application where users can post questions and provide answers to other questions.
        It is completely free to use. Enjoy!
    </p>
</article>

<aside>
    <h3>About the Developers</h3>
    <p>
        This application has been developed in the Masters-Course Software Engineering by <strong>Armin Mehryar</strong> and <strong>Benjamin Steindl</strong>.
    </p>
</aside>