@model IEnumerable<StackUnderflow.Models.UserViewModel>
@{
    ViewBag.Title = "Admin";
}

<h4>Admin Area</h4>
@using (Html.BeginForm("SearchUser", "Home", FormMethod.Get))
{
    <div>Username:&nbsp;</div><input id="username" type="text" name="username" size="20" maxlength="20" />
    <input id="search" type="submit" value="Search" />
}

<table>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Registered</th>
        <th></th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.username)</td>
        <td>@Html.DisplayFor(modelItem => item.email)</td>
        <td>@Html.DisplayFor(modelItem => item.registered)</td>
        <td>@Html.ActionLink("Edit", "EditUser", new { id = item.id })</td>
    </tr>
}
</table>