@{
    ViewBag.Title = "Ask";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                This is our StackUnderflow Page. Questions and Answers can be posted here. Enjoy!
            </p>
        </div>
    </section>
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Ask", "Home", FormMethod.Post))
{
    <input id="title" type="text" name="title" value="Title..." />
    <input id="content" type="text" name="content" value="Details about your question here..." />
    
    <input id="Ask" type="submit" value="Ask" />
}