@{
    ViewBag.Title = "Ask a Question";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                This is our StackUnderflow Page. Questions and Answers can be posted here. Enjoy!
            </p>
        </div>
    </section>
}
@using (Html.BeginForm("Ask", "Home", FormMethod.Post))
{
    @Html.Label("Title")<input id="title" type="text" name="title" value="" size="35" /><br />
    @Html.Label("Content")<textarea id="content" name="content" rows="4" cols="50"></textarea><br />
    
    <input id="Ask" type="submit" value="Ask" />
}
<div>
    @Html.ActionLink("Back", "Index")
</div>