@{
    ViewBag.Title = "Ask";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Ask", "Home", FormMethod.Post))
{
    <input id="title" type="text" name="title" value="Title..." />
    <input id="content" type="text" name="content" value="Details about your question here..." />
    
    <input id="Ask" type="submit" value="Ask" />
}